<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KDTouTiaoWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>zhangshangPacket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1891E45D1EC3F35500D83FA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1891E4761EC3F35600D83FA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1891E4811EC3F35600D83FA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FF67F01F39B86E002DB418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
